<center> <img src="./images/beer.png" alt="beer" /> <br> <br>
    
        <a href="/beers"> Check the Beers!</a> <br> <br>
        <a href="/random-beer"> Check a random Beer!</a>
        
    </center>